{% extends 'Main/base.html' %}

{% block title %}Lista de Leyendas{% endblock title %}

{% block content_title %}Leyendas del mundo musical{% endblock content_title %}

{% block content %}

    <a href="{% url 'blog:leyenda_create' %}" class="btn btn-primary mb-4">Agregar nueva leyenda</a>

    <!-- Lista de leyendas -->
    <ul class="list-group mt-4">
        {% for leyenda in leyendas %}
            <li class="list-group-item">
                <strong>{{ leyenda.nombre }}</strong> ({{ leyenda.genero }}) - {{ leyenda.fecha_nacimiento }}
                <p>{{ leyenda.historia }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
