{% extends "Main/base.html" %}

{% block title %}
  Publicaciones
{% endblock title %}

{% block content_title %}
  Lista de publicaciones
{% endblock content_title %}

{% block content %}
<a href={% url 'blog:post_create' %} class="btn btn-primary mb-3">Crear publicación</a>
  <ul class="list-unstyled">
    {% for post in posts %}
      <li class="mb-4 p-3 border-bottom">
        <a href="#" class="text-decoration-none">
          <h5 class="fw-bold text-dark">{{ post.titulo }}</h5>
        </a>
        <p class="mb-2 text-muted">{{ post.contenido }}</p>
        <small class="text-secondary">
          Publicado el {{ post.fecha_publicacion }}
        </small>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}

    