{% extends "Main/base.html" %}

{% block title %}
    Inicio
{% endblock title %}

{% block content_title %}
Blog de guitarristas legendarios como tú!
{% endblock content_title %}

{% block content %}
  <!-- Aquí comienza el carousel con imágenes -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Primera imagen del carousel -->
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://musiquiatra.s3.us-east-1.amazonaws.com/upload/monthly_2019_03/guitarra-gibson-sg-standard-2000-made-in-usa-cherry-D_NQ_NP_874236-MLA29033924743_122018-F.jpg.d3ebf84d8d978d44236c2987c591963d.jpg" alt="First slide">
      </div>
      <!-- Segunda imagen del carousel -->
      <div class="carousel-item">
        <img class="d-block w-100" src="URL_DE_LA_IMAGEN_2" alt="Second slide">
      </div>
      <!-- Tercera imagen del carousel -->
      <div class="carousel-item">
        <img class="d-block w-100" src="URL_DE_LA_IMAGEN_3" alt="Third slide">
      </div>
    </div>
    <!-- Botones de control para navegar entre las imágenes -->
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <!-- Aquí termina el carousel -->
{% endblock content %}